<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Collections</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        
        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        
        h1 {
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #333;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a.button {
            text-decoration: none;
            padding: 8px 16px;
            background-color: #333;
            color: white;
            border-radius: 5px;
        }

        a.button:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
    <header>
        <h1>Show MongoDb Collections</h1>
    </header>
    <div class="container">
        <a class="button" href="/add">Store Data</a>
        <br><br>
        <table>
            <tr>
                <th style="text-align: center;">Username</th>
                <th style="text-align: center;">Password</th>
                <th style="text-align: center;">Action</th>
            </tr>
            <!-- Data rows -->
            <% data.forEach((item) => { %>
                <tr>
                    <td><%= item.username %></td>
                    <td><%= item.password %></td>
                    <td>
                        <a href="/view/<%= item._id %>">View</a>   /
                        <a href="/updateData/<%=item._id%>">Update</a>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>
